<div class="jumbotron bodystyle">
  <div class="container">

    <div class="banner">
      <div class="trans">
        <p>

         Our Planet is Vast "SBA Hostel" is a beautifull place, full of exciting, wonderful people and get way too much happiness
          from good food.
        </p>
      </div>
      <br/>
      <div class="but">
          <a routerLink="/register"><button class="btn btn-primary btn-lg" id="Mybutton">Book Now</button></a>
      </div>
    </div>


   <!-- <button class="btn btn-default" (click)=showConfirm()>Login</button>--> 

    <!-- <a class="btn btn-info" href="#">Button 2</a> -->

  </div>
</div>
<div class="container" id="welcome">
  <h2>Welcome to SBA Hostel</h2>
  <p class="img-blockquote">
    Sri bannari Amman Ladies Hostel was established in the year 1999 for providing a secured accomadition for students and working
    womens at best price, We are best identify for the healthy and hygienic food. Hostel is located near the colleges(NGP
    and PSG), IT park and very near to Airport . Our hostel is started with 40 rooms fully furnished with living room and
    dining area. 24/7 security
  </p>
</div>
<div class="container">

  <h2 id="facilities">Facilities</h2>
  <div class="row">
    <div class="col-sm-4">
      <div id="circle1">
      </div>
      <h3>Free WIFI </h3>
      <br/>
      <p>
          Never get Disconnected!!!<br/>
          Our WI FI connectivity for all guests to use on computer, mobile and other devices is available for free on all days.</p>
    </div>
    <div class="col-sm-4">
      <div id="circle2">
      </div>
      <h3>Hygienic Food</h3>
      <br/>
      <p>
          Enjoy quality and delicious Indian food served hot on time. With options like coffee, milk ,tea and snacks in the evening.
          visit <a href=#> Menu </a>for more  details.</p>
    </div>
    <div class="col-sm-4">
      <div id="circle3">
      </div>
      <h3>Furnished Rooms</h3>
      <br/>
      <p>
          We have well furnished rooms with beds and secured storage facilities,Living room with TV on all the floor is available. Rooms and toilets are always clean with daily housekeeping.</p>
    </div>
  </div>
</div>
<app-review></app-review>
<div>
  <h2>Categories of Rooms</h2>
  <div>
    <div class="row">
      <div class="col-sm-6">
        <div class="two">Two Bed Rooms</div>
        <div id="circle6">
          <div class="inner">
            <div class="wrap">
              <div class="content">
                <a href="#" class="fix">Check availablity</a>
              </div>
            </div>
          </div>
        </div>
        <div class="txt">
          <p>
              500sq ft Room with bath attached,power backup and furnished with bed and storage facilities, perfectly suitable for two members to share</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="four">Four Bed Rooms</div>
        <div id="circle7">
          <div class="inner">
            <div class="wrap">
              <div class="content">
                <a href="#">Check availablity</a>
              </div>
            </div>
          </div>
        </div>
        <div class="txt">
          <p>
              16 X16 Sq. Ft Room with bath attached, power backup and furnished with bed and storage facilities, perfectly suitable for college students to make comfortable atmosphere to study</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container">
  <div class="row">
      
      <div class="col-md-10">
          <p>About Us
              <br/>
           
          </p>

      </div>
      <div class="col-md-2" >
        Sidebar content
        <marquee height="100" width="100%" behavior="scroll" direction="up" scrollamount="2" onmouseover="this.stop();" onmouseout="this.start();">
                <ul>
                  <li>Hello I am Testing 1</li>
                  <li>Hello I am Testing 2</li>
                  <li>Hello I am Testing 3</li>
                  <li>Hello I am Testing 4</li>
                  </ul>
                  
              </marquee>
    </div>
  </div>
</div> -->